/* MENU BAR STYLE START */

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
}

.faculty-menu-bar {
    background-color: rgba(0, 0, 0, .5);
    color: #669999;
    text-align: center;

}

.faculty-menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;
}

.faculty-menu-bar ul li {
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.faculty-menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.faculty-menu-bar ul li:hover {
    background: #002745;
    border-radius: 3px;
}

.analysis-sub-menu {
    display: none;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul {
    display: block;
    margin: 10px;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li {
    width: 170px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li:last-child {
    border-bottom: none;
}

.faculty-menu-bar ul li:hover .analysis-sub-menu ul li a:hover {
    color: #0AC4EF;
}

.data-entry-sub-menu {
    display: none;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu {
    display: block;
    position: absolute;
    background: #002745;
    margin-top: 15px;
    margin-left: -15px;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul {
    display: block;
    margin: 10px;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li {
    width: 170px;
    padding: 20px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li:last-child {
    border-bottom: none;
}

.faculty-menu-bar ul li:hover .data-entry-sub-menu ul li a:hover {
    color: #0AC4EF;
}

.log-out {
    margin-top: 20px;
    margin-left: 50px;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    background-color: #0AC4EF;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

.log-out a {
    text-decoration: none;
}

.log-out a:hover {
    text-decoration: none;
    color: white;
}

/* MENU BAR STYLE END */

/* USER INFORMATION STYLE START */
.user-info {
    height: 80px;
    width: 250px;
    background-color: #002745;
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
}
.user-id{
    padding-left: 40px;
    padding-top: 15px;
}
.user-type{
    padding-left: 40px;
    padding-top: 5px;

}

/* USER INFORMATION STYLE END */

/* SEARCH ID STYLE OF STUDENT WISE CLO PLO START */

.search-id {
    margin-left: 50px;
    margin-top: 50px;
}

.choose-section {
    margin-top: 10px;
}

.id-entry {
    height: 40px;
    border-radius: 3px;
    background-color: #002745;
    color: white;
}

::placeholder {
    color: white;
}

.cse303 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

.cse310 {
    height: 40px;
    width: 90px;
    border-radius: 8px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
}

.select1 {
    margin-left: 50px;
    margin-top: 10px;
    height: 42px;
    width: 150px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}

.select2 {
    margin-left: 10px;
    margin-top: 10px;
    height: 42px;
    width: 150px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}
/* SEARCH ID STYLE OF STUDENT WISE CLO PLO START */

/* GRADE sheet STYLE START */
.grade-generate-btn {
    margin-left: 50px;
    margin-top: 10px;
    height: 42px;
    width: 150px;
    background-color: #032947;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}
/* GRADE sheet STYLE START */

/* COURSE OUTLINE STYLE START */

.select{
    padding: 8px, 12px;
    width: 150px;
    height: 36px;
    margin-left: 44.5%;
    margin-top: 18px;
    color: black;
    background-color: #002745;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    text-align: center;
    color: white;
}
.selection{
    padding: 8px, 12px;
        width: 150px;
        height: 36px;
        margin-left: 46.5%;
        margin-top: 18px;
        color: black;
        background-color: #002745;
        border: 1px solid;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        outline: none;
        text-align: center;
        color: white;
}

.outline-table{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rectangle {
    height: 30px;
    width: 100%;
    background-color: #002745;
}

.text_of_headers {
    padding-left: 10px;
    font-size: 20px;
    color: white;
}

.course_outline_head {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    table-layout: fixed;
}

th,
td {
    border: 2px solid black;
    width: 100%;
    text-align: left;
    padding: px;
}

.course_description {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.course_objective {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.course_policy {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.academic_dishonesty {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.student_with_disability_and_stress {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.non_discremination_policy {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.course_content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.course_learning_outcome_matrix {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.lesson_planning_with_mapping_of_CLO {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.assessment_and_evaluation {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.grades {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.referance_book {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 320px;
    margin-right: 320px;
    width: 60%;
    height: 100%;
}

.course-title {
    width: 100%;
    border: none;
}

.text-area {
    width: 100%;
}
.submitButton{
    margin-left: 48%;
    width: 150px;
    height: 38px;
    color: white;
    background-color: #002745;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

/* COURSE OUTLINE STYLE END */